extends layout


block content
    h1 #{title}
    form(method= 'POST', action= '/books/edit/'+book._id)
        #form-group
            lable Title:
            input.form-control(name= 'title', type= 'text' value= book.title) 
        #form-group
            lable Author:
            input.form-control(name= 'author', type= 'text' value= book.author)
        #form-group
            lable Body:
            textarea.form-control(name= 'body')= book.body
        br
        input.btn.btn-primary(type= 'submit', value= 'Submit')