doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title node-express
        link(rel= 'stylesheet' href= '/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel= 'stylesheet' href= '/css/style.css')
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mynav
            a.navbar-brand(href='/home') NassArt
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                    li
                        a.nav-link(href='/books') Books
                    li
                        a.nav-link(href='/add') Add new book
        .container.mycontainer
            block content
            br
            hr
            footer
                p NassArt
                p Copyright &copy2020
        script(src="/bower_components/jquery/dist/jquery.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
        script(src="/js/main.js")